html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font: 14px/1.5 Georgia, 'Times New Roman', Times, serif;
    color: #555
}

a{
    color: #000
}
a:hover{
    color: red
}

#sidebar {
    width: 220px;
    height: 100%;
    padding-left: 20px;
    padding-right: 10px;
    overflow-x: hidden;
    overflow-y: auto;
   
    position: fixed;
    font-size: 12px;
    background-color: #444;
    color: #eee
}
#sidebar ul:last-child{
    padding-bottom: 50px;
}
#sidebar ul,
#sidebar li{
    margin: 0;
    padding: 0;
    list-style: none
}
#sidebar li:before{
    content: "-";
    margin-right: 10px;
}
#sidebar a,
#sidebar a:hover{
    color: #ccc;
    text-decoration: none;
}


#content {

    margin-left: 260px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 150px;

    text-align: justify;
}


#back_to_top,
#edit{
    display: none;
    position: fixed;

    width: 70px;
    height: 24px;
    
    top: 20px;
    right: 20px;

    color: #fff;
    line-height: 24px;
    text-align: center;
    font-size: 10px;


    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

#back_to_top:hover,
#edit:hover{
    background-color: #f6f6f6;
    color: #000
}

#edit {
    top: 50px;
}


#loading, #error {
    display: none;
    position: fixed;

    height: 17px;
    top: 45%;

    margin-left: 560px;

    font-size: 14px;
    font-weight: bold;
    z-index: 1
}

input[type=search] {
    display: block;
    width: 180px;
    padding: 4px;
    border: 1px solid #ccc;
    text-align: left;
    border-radius: 3px;
}

.search_results{


}

.fragments {
    margin: 0;
    padding: 10px;
    /* border: 1px solid #777; */
    /* border-radius: 5px; */
}

.fragment {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;

    /* border: 1px solid #777; */
    /* border-radius: 5px; */
}

.search_results .link {
    margin-top: 35px;
}



#hide {
    display: none;
}
